<?xml version="1.0"?>
<!--
Web.config file for CraigCarRental.

The settings that can be used in this file are documented at 
http://www.mono-project.com/Config_system.web and 
http://msdn2.microsoft.com/en-us/library/b5ysx397.aspx
-->
<configuration>
  <system.web>
   
    <customErrors mode="On" >
        <error statusCode="404" redirect="Error404.aspx" />
        <error statusCode="500" redirect="Error500.aspx" />
    </customErrors>
    <compilation debug="true" targetFramework="4.5"/>
  </system.web>
</configuration>